---
import type { PostFrontmatter } from '@/content/_schema';
import { Icon } from 'astro-icon';
import { getCollection } from 'astro:content';
import dayjs from 'dayjs';
import relativeTime from 'dayjs/plugin/relativeTime';
import MainLayout from './main.layout.astro';
dayjs.extend(relativeTime);
interface Props {
  frontmatter: PostFrontmatter;
  collection: 'notes' | 'handwritings';
  slug?: string;
}
const { frontmatter, collection, slug } = Astro.props;
const content = await getCollection(collection);
const currentIndex = content.findIndex((item) => item.slug === slug);
const previous = content[currentIndex - 1]?.slug;
const next = content[currentIndex + 1]?.slug;
---

<MainLayout>
  <div class="p-4 space-y-4 w-full">
    <div class="space-y-4 pb-4">
      <div class="text-3xl font-semibold dark:text-primary italic">
        {frontmatter.title}
      </div>
      <div class="flex items-center gap-4 text-slate-500">
        <span class="flex items-center gap-2"
          ><Icon name="tabler:clock" size="18" />
          {dayjs(frontmatter.pubDateTime).format('YYYY-MM-DD')} # {
            dayjs(frontmatter.pubDateTime).fromNow()
          }</span
        >
        <span class="flex items-center gap-2"
          ><Icon name="tabler:user" size="18" /> Written by {
            frontmatter.author
          }</span
        >
        <span class="flex items-center gap-2"
          ><Icon name="tabler:eye" size="18" /> You need {
            frontmatter?.minutesRead
          }</span
        >
      </div>
      <div class="flex gap-4">
        {
          frontmatter.tags.map((tag) => (
            <span class="flex items-center gap-2 bg-slate-400 dark:bg-slate-700 rounded py-1 px-2 text-sm hover:bg-primary text-white cursor-pointer">
              <Icon name="tabler:tag" size="18" />
              {tag}
            </span>
          ))
        }
      </div>
    </div>
    <article class="prose lg:prose-xl prose-slate max-w-none dark:prose-invert">
      <slot />
    </article>
    <div class="grid grid-cols-2 gap-4 font-semibold">
      {
        previous &&  <a
        href={`/${collection}/${previous}`}
        class={`flex-1 rounded p-2 border-2 shadow-sm dark:border-slate-500 hover:text-primary hover:border-primary cursor-pointer ${
          !previous && 'pointer-events-none cursor-none'
        }`}
      >
        <div class="flex items-center gap-4">
          <Icon name="tabler:chevron-left" size="20" />
           <span>Prev</span>
        </div>
        <div class="text-ellipsis overflow-hidden whitespace-nowrap">{previous}</div> 
      </a>
      }
      {
        next &&  <a
        href={`/${collection}/${next}`}
        class={`flex-1 p-2 rounded border-2 shadow-sm dark:border-slate-500 hover:text-primary hover:border-primary cursor-pointer ${
          !next && 'pointer-events-none cursor-none'
        }`}
      >
      <div class="flex justify-end items-center gap-4">
        <span>Next</span>
        <Icon name="tabler:chevron-right" size="20" />
      </div>
      <div class="text-ellipsis overflow-hidden whitespace-nowrap text-end">{next}</div>
      </a>
      }
     
    </div>
  </div>
</MainLayout>
