---
import type { PostFrontmatter } from '@/content/_schema';
import MainLayout from './main.layout.astro';
import { Icon } from 'astro-icon';
import dayjs from 'dayjs';
import relativeTime from 'dayjs/plugin/relativeTime';
import { getCollection } from 'astro:content';
dayjs.extend(relativeTime);
interface Props {
  frontmatter: PostFrontmatter;
  collection: 'notes' | 'handwritings';
  slug?: string;
}
const { frontmatter, collection, slug } = Astro.props;
const content = await getCollection(collection);
const currentIndex = content.findIndex((item) => item.slug === slug);
const previous = content[currentIndex - 1]?.slug;
const next = content[currentIndex + 1]?.slug;
---

<MainLayout>
  <div class="p-4 space-y-4 w-full">
    <div class="pt-4 txet-lg">
      <button
        id="goback"
        class="flex items-center gap-4 border-b-2 border-dashed border-transparent hover:border-pink-500 active:text-pink-500 active:border-transparent"
        onclick="
        history.back()
        "
      >
        <Icon
          name="tabler:chevron-left"
          size="18"
          class="group-hover:scale-125"
        />
         Back
      </button>
    </div>
    <div class="space-y-4 pb-8">
      <div class="text-3xl font-semibold dark:text-pink-500 italic">
        {frontmatter.title}
      </div>
      <div class="flex items-center gap-4 text-slate-500 max-md:hidden">
        <span class="flex items-center gap-2 border-b hover:border-pink-500"
          ><Icon name="tabler:clock" size="18" />
          {dayjs(frontmatter.pubDateTime).format('YYYY-MM-DD')} # {
            dayjs(frontmatter.pubDateTime).fromNow()
          }</span
        >
        <span class="flex items-center gap-2 border-b hover:border-pink-500"
          ><Icon name="tabler:user" size="18" /> Written by {
            frontmatter.author
          }</span
        >
        <span class="flex items-center gap-2 border-b hover:border-pink-500"
          ><Icon name="tabler:eye" size="18" /> You need {
            frontmatter?.minutesRead
          }</span
        >
      </div>
      <div class="flex gap-4">
        {
          frontmatter.tags.map((tag) => (
            <span class="flex items-center gap-2 bg-slate-400 rounded py-1 px-2 text-sm hover:bg-pink-500 hover:text-white cursor-pointer">
              <Icon name="tabler:tag" size="18" />
              {tag}
            </span>
          ))
        }
      </div>
    </div>
    <article class="prose lg:prose-xl prose-slate max-w-none dark:prose-invert">
      <slot />
    </article>
    <div class="flex gap-4 font-semibold">
      <a
        href={`/${collection}/${previous}`}
        class={`flex-1 flex items-center gap-8 py-4 rounded border-dashed border-2 border-transparent hover:text-pink-500 hover:border-pink-500 cursor-pointer ${
          !previous && 'pointer-events-none cursor-none'
        }`}
      >
        <Icon name="tabler:chevron-left" size="20" />
        {previous || 'No more'}
      </a>
      <a
        href={`/${collection}/${next}`}
        class={`flex-1 flex justify-end items-center gap-8 py-4 rounded border-dashed border-2 border-transparent hover:text-pink-500 hover:border-pink-500 cursor-pointer ${
          !next && 'pointer-events-none cursor-none'
        }`}
      >
        {next || 'No more'}
        <Icon name="tabler:chevron-right" size="20" />
      </a>
    </div>
  </div>
</MainLayout>
